fastapi==0.73.0
uvicorn==0.17.0
pika==1.2.0
pydantic[dotenv]==1.9.0
requests==2.27.1
pyjwt==2.3.0
passlib[bcrypt]==1.7.4
python-dotenv
persiantools
pytz
python-multipart
jdatetime==4.1.0
asgiref==3.5.0
bcrypt==3.2.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
h11==0.13.0
idna==3.3
pycparser==2.21
six==1.16.0
sniffio==1.2.0
starlette==0.17.1
typing-extensions==4.1.1

